1. What exactly is []?

Answer >

>?It represents an empty list, which does not contain any value.

2. In a list of values stored in a variable called spam, how would you assign the value &#39;hello&#39; as the
third value? (Assume [2, 4, 6, 8, 10] are in spam.)

Answer >

In [ ]:
spam = [2, 4, 6, 8, 10]
spam [2] = "hello"
spam

[2, 4, 'hello', 8, 10]

# Let&#39;s pretend the spam includes the list [&#39;a&#39;, &#39;b&#39;, &#39;c&#39;, &#39;d&#39;] for the next three queries(Q.3,Q.4,Q.5).

In [ ]:
spam = ['a', 'b', 'c', 'd'] # spam value for the next three queries(Q.3,Q.4,Q.5).

3. What is the value of spam[int(int(&#39;3&#39; * 2) / 11)]?

Answer >

In [ ]:
# spam=['a','b','c','d']
spam[int(int('3'*2)/11)]  # Spam '3' is string so '3'*2 = 33, next code execute 33/11 = 3, so spam [3]

'd'

>Here 'd' because it gives vaulue correcsonding to index 3 in list spam[3]

4. What is the value of spam[-1]?

Answer >

In [ ]:
spam[-1] # here code gives last element in list

'd'

5. What is the value of spam[:2]?

Answer >

In [ ]:
spam[:2]   # here code gives list element from index 0 to 1 excluding upper bound 2.

['a', 'b']

# Let's pretend bacon has the list [3.14, 'cat,' 11, 'cat,' True] for the next three questions(Q.6,Q.7,Q.8).

In [ ]:
 bacon = [3.14, 'cat', 11, 'cat', True]  # take bacon value for the next three questions(Q.6,Q.7,Q.8).

6. What is the value of bacon.index('cat')?

Answer >

In [ ]:
bacon.index('cat')

1

7. How does bacon.append(99) change the look of the list value in bacon?

Answer >

In [ ]:
bacon.append(99) # its append means adding the value 99 in the end of the list
print (bacon)

[3.14, 'cat', 11, 'cat', True, 99]

8. How does bacon.remove('cat') change the look of the list in bacon?

In [ ]:
bacon.remove('cat')
# its remove string "cat" which is 1st one in the list..
# if you write or run this code twice its remove both "cat"
bacon

[3.14, 11, 'cat', True, 99]

9. What are the list concatenation and list replication operators?


Answer >
> for list concatenation we use + while for replication use * operator.

In [ ]:
a=[1,2,3]
b=[7,8,9]

a+b # result : [1, 2, 3, 7, 8, 9]

[1, 2, 3, 7, 8, 9]

In [ ]:
a=['sweet','home']

a * 2 # Result : ['sweet', 'home', 'sweet', 'home']

['sweet', 'home', 'sweet', 'home']

10. What is difference between the list methods append() and insert()?

Answer >
 >append() can add only element to end of the list.

 >while insert() can add element any where in the list.

In [ ]:
a = [1, 2, 3]
a.append(4) # example for append
print(a)  # Result : [1, 2, 3, 4]

[1, 2, 3, 4]

In [ ]:
frt = ['apple', 'orange']
frt.insert(1, 'banana') # example of insert
print(frt)  # Result : ['apple', 'banana', 'orange']

['apple', 'banana', 'orange']

11. What are the two methods for removing items from a list?

Answer >

In [ ]:
# remove method for remove the items from a list
frt = ['apple', 'banana', 'orange']
frt.remove ('banana') # removing this item from given list
print ( frt ) # Result : ['apple', 'orange']

['apple', 'orange']

In [ ]:
# pop method for remove the items by item_index

dil = [1,2,3,4,5,6,7,8,9]
dil.pop(5) # remove item from given list index 5 . in given list index 5 is shown item 6.
print (dil) # [1, 2, 3, 4, 5, 7, 8, 9]

[1, 2, 3, 4, 5, 7, 8, 9]

In [ ]:
# del fuction is also used for remove items from list

dil = [1, 2, 3, 4, 5, 7, 8, 9]

del dil[1] # # Delete a single element at a specific index

In [ ]:
print (dil) # 2 is remove due to del fuction is process in this list
# Result : [1, 3, 4, 5, 7, 8, 9]

[1, 3, 4, 5, 7, 8, 9]

In [ ]:
del dil[4:6]# Delete a slice of elements from start_index to end_index (exclusive)
print (dil) # remove the index 4 to 6. where 6 index is excluded.
# result : [1, 3, 4, 5, 9]

[1, 3, 4, 5, 9]

12. Describe how list values and string values are identical.

Answer >

>Similarities:
*   Both lists and strings are sequences of elements.
*   Elements in both can be accessed using indexing and slicing.
*   Both have a length that can be obtained using len().

>Differences:
*   Lists are mutable; elements can be modified, added, or removed.
*   Strings are immutable; their characters cannot be changed after creation.
*   Lists have methods like append(), remove(), pop(), etc.
*  Strings have methods like upper(), lower(), replace(), etc.

13. What's the difference between tuples and lists?

Answer >

>lists are mutable and allow for dynamic changes, while tuples are immutable and provide fixed data integrity.

>Choose lists when you need to modify or extend the collection, and

>use tuples when you want to ensure data remains constant throughout the program's execution.

14. How do you type a tuple value that only contains the integer 42?

In [3]:
# In tuple trailing comma mandatory.
d = (42,)  #yes its mandatory to hve comma
type(d) # o/p: tuple

tuple

15. How do you get a list value&#39;s tuple form? How do you get a tuple value&#39;s list form?

Answer >

> you can use the tuple() function, which converts any iterable, such as a list, into a tuple.

In [1]:
# List value's in tuple form.
l1 = [1, 2, 3, 4, 5]
tpl = tuple(l1)
print(tpl)  # o/p: (1, 2, 3, 4, 5)

(1, 2, 3, 4, 5)

>you can use the list() function, which converts any iterable, including a tuple, into a list.

In [2]:
#  tuple value's in list form.
tp1 = (11,22,33,44,55)
lst = list(tp1)
print (lst) # o/p : [11, 22, 33, 44, 55]

[11, 22, 33, 44, 55]

16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?

Answer>

>They have references to list values.

17. How do you distinguish between copy.copy() and copy.deepcopy()?

Answer >

>copy.copy() creates a shallow copy of the object.

>It duplicates the top-level object, but it does not create new copies of the elements within the object. Instead, it copies references to the elements. If the elements are mutable (e.g., lists or dictionaries), changes made to the original elements will also be reflected in the copied object.

>copy.deepcopy() creates a deep copy of the object.

> It duplicates the entire object along with all nested objects recursively. The resulting copy is completely independent of the original object, and changes made to the original or nested objects will not affect the deep copy.