1.What are the two values of the Boolean data type? How do you write them?
>The Boolean data type is a value that can only be either true or false. It is used to represent the two truth values of Boolean algebra and logic.

In [1]:
#  Boolean Data Type

a = True
type(a)

b = False
type(b)

bool

2.What are the three different types of Boolean operators?

> and

> or

> not

3. Make a list of each Boolean operator truth tables (i.e. every possible combination of Boolean values for the operator and what it evaluate ).

answer :

> table for AND operator

True and	True	=	True

True and	False	=	False

False and	False	=	False

False and	True	=	False

> table for OR operator

True	or	True	=	True

True	or	False	=	True

False	or	False	=	False

False	or	True	=	True

> table for NOT operator

not True = False

not False= True

4. What are the values of the following expressions?

(5 > 4) and (3 == 5)

not (5 > 4)

(5 > 4) or (3 == 5)

not ((5 > 4) or (3 == 5))

(True and True) and (True == False)

(not False) or (not True)

In [46]:
(5 > 4) and (3 == 5)

False

In [47]:
not (5 > 4)

False

In [48]:
(5 > 4) or (3 == 5)

True

In [49]:
not ((5 > 4) or (3 == 5))

False

In [50]:
(True and True) and (True == False)

False

In [51]:
(not False) or (not True)

True

5. What are the six comparison operators?

>Equal to (==): This operator checks if the operands are equal and returns True if they are, and False otherwise. For example:

    10 == 10 returns True
    'apple' == 'banana' returns False

>Not equal to (!=): This operator checks if the operands are not equal and returns True if they are not, and False if they are equal. For example:

    5 != 10 returns True
    'cat' != 'cat' returns False

>Greater than (>): This operator checks if the left operand is greater than the right operand and returns True if it is, and False otherwise. For example:

    7 > 4 returns True
    2 > 6 returns False
>Less than (<): This operator checks if the left operand is less than the right operand and returns True if it is, and False otherwise. For example:

    3 < 9 returns True
    12 < 5 returns False
>Greater than or equal to (>=): This operator checks if the left operand is greater than or equal to the right operand and returns True if it is, and False otherwise. For example:

    5 >= 3 returns True
    8 >= 10 returns False
>Less than or equal to (<=): This operator checks if the left operand is less than or equal to the right operand and returns True if it is, and False otherwise. For example:

    2 <= 5 returns True
    7 <= 3 returns False

6. How do you tell the difference between the equal to and assignment operators?Describe a
condition and when you would use one.

>Equal to operator (==): The equal to operator is a comparison operator used to check if two values are equal. It compares the values on the left and right sides and returns a Boolean result (True or False) based on the comparison.

>Assignment operator (=): The assignment operator is used to assign a value to a variable. It takes the value on the right side and assigns it to the variable on the left side.

7. Identify the three blocks in this code:

spam = 0

if spam == 10:

print(&#39;eggs&#39;)

if spam &gt; 5:

print(&#39;bacon&#39;)

else:

print(&#39;ham&#39;)

print(&#39;spam&#39;)

print(&#39;spam&#39;)

In [19]:
spam = 0

if spam == 10:  # 1st Block
  print('eggs')

elif spam > 5:  # 2nd block
    print('bacon')

else:            # 3rd block
    print('ham')

print('spam')

print('spam')

ham
spam
spam

8. Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints
Greetings! if anything else is stored in spam.

In [27]:
spam = int(input("Enter the Integer no. : "))

if spam == 1 :
  print ("Hello")
elif spam == 2 :
  print ("Howdy")
else :
  print ("Greetings!")

Enter the Integer no. : 3
Thank you for visit

9.If your programme is stuck in an endless loop, what keys youâ€™ll press?

>Press "Ctrl" + "C" keys together.

By pressing "Ctrl" + "C," you send a KeyboardInterrupt signal to the running Python program, causing it to terminate and break out of the infinite loop. This key combination is widely used across different platforms and Python environments to interrupt program execution.

10. How can you tell the difference between break and continue?

> When the break statement is encountered within a loop, it immediately terminates the loop and execution continues with the next statement after the loop. In other words, it breaks out of the loop entirely. The loop's remaining iterations are skipped, and the program moves on to the next part of the code outside the loop.

In [28]:
for i in range(1, 6):
    if i == 3:
        break
    print(i)

1
2

>When the continue statement is encountered within a loop, it skips the rest of the code inside the loop for the current iteration and proceeds to the next iteration. In other words, it jumps to the next iteration, without executing the remaining statements within the loop block for the current iteration.

In [ ]:
for i in range(1, 6):
    if i == 3:
        continue
    print(i)

11. In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?

> range(10): This form of range() generates a sequence of numbers starting from 0 (inclusive) up to, but not including, the specified number (10 in this case). It uses the default step value of 1.

In [30]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

>range(0, 10): This form of range() generates a sequence of numbers starting from the specified start value (0 in this case) up to, but not including, the specified stop value (10 in this case). It also uses the default step value of 1.

In [29]:
for i in range(0, 10):
    print(i)

0
1
2
3
4
5
6
7
8
9

>range(0, 10, 1): This form of range() generates a sequence of numbers starting from the specified start value (0 in this case) up to, but not including, the specified stop value (10 in this case). It also specifies a step value of 1, indicating that the numbers in the sequence will be incremented by 1 in each iteration.

In [31]:
for i in range(0, 10, 1):
    print(i)

0
1
2
3
4
5
6
7
8
9

12. Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent
program that prints the numbers 1 to 10 using a while loop.

In [36]:
# short program that prints the numbers 1 to 10 using a for loop
for i in range(10):
    print(i+1)

1
2
3
4
5
6
7
8
9
10

In [45]:
#  short program that prints the numbers 1 to 10 using a while loop
a = 1
while a <= 10:
  print (a)
  a += 1

1
2
3
4
5
6
7
8
9
10

13. If you had a function named bacon() inside a module named spam, how would you call it after
importing spam?

In [45]:
spam.bacon()